.main{
    position: relative; 
    margin: 4.6rem 8.7rem 0 8.7rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.logo{
    width: 4rem;
}

.main__container {
    display: flex;
    gap: 5.5rem;
    align-items: center;
}

.main__info{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main__title{
    font-size: 4rem;
    line-height: 110%;
    font-weight: 600;
    margin-bottom: 2.2rem;
}

.main__description{
    color: var(--dark-electric-blue);
}

.main__box{
    flex: 1;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
} 

.box__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.box__choose-unit{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 6.25rem;
}

.choose-unit__option{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.choose-unit-label {
    font-weight: 600;
}

input[type="radio"] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 1px solid var(--dark-electric-blue);
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--blue);
    border: none;
    box-shadow: 0px 0px 0px 10px rgba(52, 95, 246, 15%);
}

input[type="radio"]:hover {
    border-color: var(--blue); 
}

.box__measure-input{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
}


.measure-input-height, .measure-input-weight, .input-with-unit{
    flex: 1;
}

.inputs-box{
    display: flex;
    gap: 1.5rem;
}

.box__measure-input label {
    color: var(--dark-electric-blue);
    font-size: 0.875rem;
}

.input-with-unit{
    display: flex;
    border: 1px solid var(--dark-electric-blue);
    border-radius: 12px;
    padding: 1.25rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.input-with-unit:hover {
    border-color: var(--blue);
}

.input-with-unit input {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gunmetal);
    border: none; 
    outline: none; 
    box-shadow: none; 
    width: 6.2rem;
    cursor: text;
}

.input-with-unit span {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
}

.box__result{
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    border-radius: 80px 800px 800px 80px;
    margin-top: 2rem;
    row-gap: 1rem;
    column-gap: 2rem;
}

.result__welcome{
    font-size: 1.5rem;
    font-weight: 600;
}

.result__instruction{
    font-size: 0.875rem;
}


.background-rectangle {
    position: absolute; 
    top: -10rem; 
    left: -7rem; 
    width: calc(100% + 3rem); 
    height: calc(100% + 14rem); 
    background: linear-gradient(135deg, rgba(214, 252, 254, 0.1) 0%, rgba(214, 230, 254, 100%) 100%);
    border-radius: 0 0 35px 35px; 
    z-index: -1; 
  }


/* Result show */


.result-intro, .result {
    font-weight: 600;
}

.box__result__container span {
    font-weight: 700;
}

.result {
    font-size: 4rem;
    margin-top: 1.6rem;
} 



/* Responsiviness */

@media screen and (max-width: 1140px) {
    .main, .main__info, .main__container{
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .main {
        margin: 2rem 2.4rem 0 2.4rem;
    }

    .main__box {
        text-align: left;
        width: 90%;
        padding: 1rem;
    }

    .main__title{
        font-size: 3rem;
    }
    
    .main__container{
        gap: 3rem;
    }

    .background-rectangle{
        width: calc(100% + 4.8rem);
        position: absolute;
        top: -2rem; 
        left: -2.4rem; 
        height: 80%;

    }

    .box__result {
        align-items: center;
        column-gap: 8rem;
    }

    .result {
        font-size: 3rem;
    } 
}

@media screen and (max-width: 500px) {
    .main {
        margin: 1rem 1rem 0 1rem;
    }

    .main__title{
        font-size: 2rem;
    }

    .main__box {
        padding: 1.5rem; 
        min-width: auto; 
        align-items: center;
    }

    .box__measure-input {
        display: flex;
        flex-direction: column;
    }

    .measure-input-height, .measure-input-weight, .input-with-unit{
        width: 0.6;
    }

    .box__result {
        border-radius: 1rem;
        flex-direction: column;
    }

    .background-rectangle{
        width: calc(100% + 2rem);
        position: absolute;
        top: -1rem; 
        left: -1rem; 
        height: 80%;
    }

}