.main{
    position: relative; 
    margin: 4.6rem 8.7rem 0 8.7rem;
}

.main__container {
    display: flex;
    gap: 5.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.main__info{
    flex: 1;
}

.main__title{
    font-size: 64px;
    line-height: 110%;
    font-weight: 600;
    margin-bottom: 2.2rem;
}

.main__description{
    color: var(--dark-electric-blue);
}

.main__box{
    flex: 1;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
} 

.box__title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.box__choose-unit{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 100px;
}

.choose-unit__option{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.choose-unit-label {
    font-weight: 600;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--dark-electric-blue);
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--blue);
    border: none;
    box-shadow: 0px 0px 0px 10px rgba(52, 95, 246, 15%);
}

input[type="radio"]:hover {
    border-color: var(--blue); 
}

.box__measure-input{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1.5rem;
    justify-content: space-between;
}


.measure-input-height, .measure-input-weight, .input-with-unit{
    flex: 1;
}

.inputs-box{
    display: flex;
    gap: 1.5rem;
}

.box__measure-input label {
    color: var(--dark-electric-blue);
    font-size: 14px;
}

.input-with-unit{
    display: flex;
    border: 1px solid var(--dark-electric-blue);
    border-radius: 12px;
    padding: 20px 24px;
    align-items: center;
    justify-content: space-between;
}

.input-with-unit:hover {
    border-color: var(--blue);
}

.input-with-unit input {
    font-size: 24px;
    font-weight: 600;
    color: var(--gunmetal);
    border: none; 
    outline: none; 
    box-shadow: none; 
    width: 100px;
    cursor: text;
}

.input-with-unit span {
    color: var(--blue);
    font-size: 24px;
    font-weight: 600;
}

.box__result{
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 80px 800px 800px 80px;
    margin-top: 2rem;
    gap: 1rem;
}

.result__welcome{
    font-size: 24px;
    font-weight: 600;
}

.result__instruction{
    font-size: 14px;
}


.background-rectangle {
    position: absolute; /* Define a posição absoluta para o retângulo de fundo */
    top: -10rem; /* Ajusta a posição para cima (para que o retângulo fique fora da seção pai) */
    left: -7rem; /* Ajusta a posição para a esquerda (para que o retângulo fique fora da seção pai) */
    width: calc(100% + 3rem); /* Define a largura do retângulo */
    height: calc(100% + 14rem); /* Define a altura do retângulo */
    background: linear-gradient(135deg, rgba(214, 252, 254, 0.1) 0%, rgba(214, 230, 254, 100%) 100%);
    border-radius: 0 0 35px 35px; /* Adiciona borda arredondada conforme necessário */
    z-index: -1; /* Define o índice de empilhamento para estar abaixo do conteúdo */
  }


/* Result show */


.box__result__container{
    flex: 1;
}

.result-intro, .result {
    font-weight: 600;
}

.box__result__container span {
    font-weight: 700;
}

.result {
    font-size: 64px;
    margin-top: 28px;
} 