.meaning{
    margin-top: 6rem;
}

.meaning__main {
    display: flex;
    align-items: center;
    gap: 8.1rem;
    margin: 0 8.7rem 6rem 8.7rem;
}

.meaning__main-img {
    width: 55%;
    flex: 1;
}

.meaning__text{
    flex: 1;
    padding-bottom: 2.5rem;
}

.meaning__text h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.meaning__text p{
    color: var(--dark-electric-blue);
}

.curved-line-left{
    display: block;
    margin-left: auto;
}

.meaning__topics{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4.5rem 7rem 6rem 7rem;
    background: linear-gradient(135deg,  rgba(214, 252, 254, 0.1) 0%,rgba(214, 230, 254, 0.3) 100%);
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 35px;
}

.topic h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2.8rem;
    margin-bottom: 1.5rem;
}

.topic p {
    color: var(--dark-electric-blue);
}