.meaning{
    margin-top: 12rem;
}

.meaning__main {
    display: flex;
    align-items: center;
    gap: 8.1rem;
    margin: 0 8.7rem 6rem 8.7rem;
}

.meaning__main-img {
    width: 55%;
    flex: 1;
}

.meaning__text{
    flex: 1;
    padding-bottom: 2.5rem;
}

.meaning__text h3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.meaning__text p{
    color: var(--dark-electric-blue);
}

.curved-line-left{
    display: block;
    margin-left: auto;
}

.meaning__topics{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4.5rem 7rem 6rem 7rem;
    background: linear-gradient(135deg,  rgba(214, 252, 254, 0.1) 0%,rgba(214, 230, 254, 0.3) 100%);
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 35px;
}

.topic h4 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2.8rem;
    margin-bottom: 1.5rem;
}

.topic p {
    color: var(--dark-electric-blue);
}


/* Responsiviness */

@media screen and (max-width: 1140px) {
    .curved-line-left{
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    .meaning {
        margin-top: 2rem;
    }
    .curved-line-left{
        display: none;
    }

    .meaning__main{
        margin-left: 0;
        margin-right: 2.3rem;
        margin-top: 6rem;
        gap: 6.1rem;
    }

    .meaning__text h3 {
        font-size: 32px;
    }

    .meaning__text{ 
        padding-top: 6rem;
    }

    .meaning__topics{
        flex-direction: column;
        margin: 0;
        border-radius: 0;
        padding: 3.7rem 3.9rem;
    }

    .topic{
        display: flex;
        column-gap: 2.5rem;
    }
}

@media screen and (max-width: 570px) {
    .meaning__main{
        flex-direction: column;
        margin: 0;
        gap: 3rem;
    }

    .meaning__main-img{
        width: 100%;    
    }

    .meaning__text{ 
        padding: 0 2rem;
    }
}

@media screen and (max-width: 400px) {
    .topic {
        flex-direction: column;
    }

    .topic img {
        width: 4rem;
    }
}